@import "tailwindcss";

body {
  font-family: "Mona Sans", sans-serif;
}

#footer {
  /* font-size: 0.875rem; */
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  color: black;
}

#signature {
  display: flex;
  align-items: center;
  height: 2.125rem;
  white-space: nowrap;
}

.fa-github {
  /* color: black; */
  opacity: 0.75;
  transition: transform 0.5s ease-in-out;
}

.fa-github:hover {
  opacity: 100%;
  transform: rotate(360deg) scale(1.2);
}
