<footer id="footer" class="mt-16 border-t border-gray-700 bg-gray-800 py-8">
  <span id="signature" class="text-sm text-gray-400"
    >Nick_onyi 2026  

    <a
      href="https://github.com/nickonyi"
      target="_blank"
      rel="noopener"
      aria-label="Github profile"
    >
      <i class="fab fa-github fa-2x" aria-hidden="true"></i>
    </a>
  </span>
</footer>
